<% provide(:title,"文章管理") %>
<div class="row">
  <aside class="col-xl-1">
    <%= render 'sidemenu' %>
  </aside>
  <div class="col-xl-11">
    <div class="card ml-1" id="sentence">
      <div class="card-header text-left">
        <strong><small><%= @watson_language_master.content %></small></strong>
      </div>
      <div class="card-body">
        <% @watson_language_masters.each do |wlm| %>
          <% if wlm.id != @watson_language_master.id && wlm.id != @watson_language_master.anchor %>
          <div class="row border-bottom">
            <div class="col-1">
              <%= link_to "参照", attached_path(:id => wlm.id, :sid => @watson_language_master.id), class: "btn btn-outline-primary btn-sm", role: "button" %>
            </div>  
            <div class="col-11">
              <small><%= wlm.content %></small>
            </div>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>