<% provide(:title,"Statistic") %>
<div class="row">
  <aside class="col-xl-1">
    <%= render 'sidemenu' %>
  </aside>
  <div class="col-xl-11">
    <div class="card ml-1" id="users">
      <div class="card-header text-center">
          <h4>Statistic</h4>
      </div>
      <div class="card-body">
          Under Contruction
      </div>
      <div class="card-footer">
      </div>
    </div>
  </div>
</div>
