<% provide(:title,"ユーザー管理") %>
<div class="row">
  <aside class="col-xl-1">
    <%= render 'sidemenu' %>
  </aside>
  <div class="col-xl-11">
    <div class="card ml-1" id="users">
      <div class="card-header text-center">
          <h4>ユーザー管理</h4>
      </div>
      <div class="card-body">
        <div class="row border-bottom">
          <div class="col-1 text-center"><strong>№</strong></div>
          <div class="col-6 text-center"><strong>E-Mail</strong></div>
          <div class="col-1 text-center"><strong>看護</strong></div>
          <div class="col-2 text-center"><strong>管理者権限</strong></div>
          <div class="col-2 text-center"><strong>ユーザー状態</strong></div>
        </div>  
        <% if current_user.marshal %>
          <%= render 'user' %>
        <% end %>
      </div>
      <div class="card-footer">
      </div>
    </div>
  </div>
</div>
