<div class="card ml-0 pl-0" style="width: 6rem;">
  <% if @selected_item==0 %>
    <a href="#" class="card-header pl-4 pt-1 pb-1 bg-info" data-toggle="tooltip" data-placement="right" title="エッジヒストグラム">
  <% else %>
    <a href="#" class="card-body pl-4 pt-1 pb-1 bg-light" data-toggle="tooltip" data-placement="right" title="エッジヒストグラム">
  <% end %>
    <%= image_tag("ico_mpeg_eh.png", alt:"yokyu icon", size: "40x45", id: "yokyu_icon") %>
  </a>
  <% if @selected_item==1 %>
    <a href="#" class="card-header pl-4 pt-1 pb-1 bg-info" data-toggle="tooltip" data-placement="right" title="カラーレイアウト">
  <% else %>
    <a href="#" class="card-body pl-4 pt-1 pb-1 bg-light" data-toggle="tooltip" data-placement="right" title="カラーレイアウト">
  <% end %>
    <%= image_tag("ico_mpeg_cl.png", alt:"yokyu icon", size: "40x45", id: "yokyu_icon") %>
  </a>
</div>