<% provide(:title,"報告KPI") %>
  <div class="row">
    <aside class="col-1">
      <%= render 'sidemenu' %>
    </aside>
    <div class="col-11 pl-4">
      <div class="card">
        <div class="card-header text-center">
          Hall of fame
        </div>
        <div class="card-body">
        </div>
      </div>
    </div>
  </div>
