</div>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" style=" width:100%; height: 640px !important;">
    <div class="carousel-item active" data-interval="10000">
        <%= image_tag("SBS01.jpg", alt:"sbs image", class: "d-block w-100", id: "sbs_image") %>
        <div class="carousel-caption d-none d-md-block">
            <h5>ご協力を宜しく</h5>
            <p>アカウントを有効にするため、管理者にご連絡してください。</p>
        </div>
    </div>
    <div class="carousel-item" data-interval="10000">
        <%= image_tag("SBS02.jpg", alt:"sbs image", class: "d-block w-100", id: "sbs_image") %>
        <div class="carousel-caption d-none d-md-block">
            <h5>Information</h5>
            <p>Please contact the administrator to activate your account</p>
        </div>
    </div>
    <div class="carousel-item" data-interval="10000">
        <%= image_tag("SBS03.jpg", alt:"sbs image", class: "d-block w-100", id: "sbs_image") %>
        <div class="carousel-caption d-none d-md-block">
            <h5>Information</h5>
            <p>Wenden Sie sich an den Administrator, um Ihr Konto zu aktivieren.</p>
        </div>
    </div>
  </div>
</div>
<div class="container">